* {
    margin: 0px;
    padding: 0px;
}


/************* NAV BAR **************/

.nav-bar {
    z-index: 1000;
    background-color: transparent;
    padding: 0 20px 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    transition-duration: 0.5s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope', sans-serif;

    @media screen and (max-width: 480px) {
        height: 50px;
        padding: 0 15px;
    }
}

.nav-name {
    align-items: left;
    font-size: 25px;
    font-weight: 700;
    color: #76AFB8;
}

.name-logo {
    color: #76AFB8;
    text-decoration: none;
}

.nav-links {
    text-align: right;
    padding-top: 4px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.link {
    margin-left: 20px;
    color: #989898;
    text-decoration: none;
}

.link:hover {
    color: black;
}

.current {
    font-weight: 700;
    color: black;
    /* border-bottom: 2px solid black; */
}

.nav-bar a:hover {
    fill: #313131;
    transition-duration: 0s;
}

/* NAV BAR ON SCROLL */

.nav-bar-scroll {
    background-color: white;
    filter: drop-shadow(0 1px 6px rgb(0,0,0,.5));
}




/************* HOMEPAGE **************/

/* header */

.homepage-header {
    overflow: hidden;
}

.homepage-header img {
    max-width: 100%;
    margin: 80px auto 20px;

    @media screen and (max-width: 768px) {
        margin-top: 60px;
        margin-bottom: 20px;
        /* margin-left: -100px; */
    }

    @media screen and (max-width: 480px) {
        max-width: 180%;
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

.header-content {
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
    line-height: 1em;
    text-align: center;
}


/* project section */

.projects-section {
    max-width: 1000px;
    margin: auto auto 10vh;
    padding: 0 1rem;
}

.section-list-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section-name {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: #989898;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.section-name:hover {
    color: black;
    cursor: pointer;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}

.projects a {
    text-decoration: none;
    width: 32%;
}

.project-card {
    display: relative;
    margin-bottom: 40px;
}

.long {
    width: 66% !important;
}

.project-image {
    position: relative;
    bottom: 0;
    background-image: url(images/print-design.png);
    background-size: cover;
    background-position: center center;
    height: 300px;
    border-bottom: 7px solid #DBDBDB;
    transition: 0.2s;
}

.project-card:hover .project-image {
    border-bottom: 7px solid #76AFB8;
}

.project-title {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 13px;
    color: black;
}

.tag {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #76AFB8;
    border-radius: 15px;
    color: white;
    padding: 3px 8px;
    display: inline;
    margin-right: 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.clicked {
    color: black;
    font-weight: 700;
}

#hnp-voter {
    background-image: url(images/homepage/hnp-voter-guide-2.jpg);
}

#pasta {
    background-image: url(images/homepage/pasta-2.jpg);
}

#midterms {
    background-image: url(images/homepage/midterms-guide-cover.png);
}

#timeline {
    background-image: url(images/homepage/timeline.jpg);
}

#nbn-print {
    background-image: url(images/homepage/print-cover-2.jpg);
}

#nbn-mag-to-web {
    background-image: url(images/homepage/web-cover.png);
}

#baip {
    background-image: url(images/homepage/baip-cover.jpg);
}

#uncut {
    background-image: url(images/homepage/uncut-cover.jpg);
}

#sports-photography {
    background-image: url(images/homepage/photography-cover.jpg);
}

#studio-assistant {
    background-image: url(images/homepage/studioassistant-cover.png);
}

#postcards {
    background-image: url(images/homepage/postcards-cover.png);
}

#wavelength {
    background-image: url(images/homepage/uxui-cover.jpg);
}

#amazon-sellers {
    background-image: url(images/homepage/amazon-sellers-cover.png);
}


/************* PROJECT PAGES **************/

/* title */

.project-header {
    margin-bottom: 40px;
}

.project-page-title {
    font-family: 'Manrope', sans-serif;
    font-size: 55px;
    /* margin-left: 17%;
    margin-right: 17%; */
    /* margin-top: 20vh;
    margin-bottom: 15px; */
    max-width: 900px;
    margin: 120px auto 20px;
    padding: 0 1.5rem;
}

.tag-section {
    /* margin-left: 17%;
    margin-right: 17%; */
    max-width: 900px;
    margin: auto;
    padding: 0 1.5rem;
}

.project-page-tag {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background-color: #76AFB8;
    color: white;
    border-radius: 15px;
    padding: 5px 11px;
    display: inline;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}


/* summary */

.project-text {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 640px 1fr;
    /* grid-template-areas: "body body body body body body body summary summary"; */
    grid-template-areas: "body summary";
    /* margin-left: 17%;
    margin-right: 17%; */
    max-width: 900px;
    margin: auto;
    padding: 0 1.5rem;
}

.summary {
    grid-area: summary;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.summary-item {
    margin-bottom: 5px;
}

.summary-title {
    color: #76AFB8;
    font-weight: 700;
}


/* body */

.project-page-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.4em;
    grid-area: body;
}

.project-page-body p {
    margin-bottom: 20px;
}

.project-page-body li {
    margin-left: 2vw;
}

.pullquote {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.4em;
    color: #76AFB8;
}

.subheading {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #919191;
    margin-bottom: 10px !important;
}

/* image stuff: galleries, slideshows, etc. */

/* ind. photo (full width) */

.full-width-image {
    width: 135%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: -17%;
}

.side-by-side {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 1200px;

    @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
        max-width: 100%;
        gap: 20px;
    }
}

.side-by-side img {
    height: 60vh;

    @media screen and (max-width: 1000px) {
        width: 100%;
        height: auto;
    }
}

/* automatic slideshow */

.automatic-slideshow {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* gallery + lightbox/modal */

.image-group {
    column-count: 2;
    column-gap: 16px;
}

.group-image {
    padding: 8px 0;
    width: 100%;
    cursor: zoom-in;
}

/* LIGHTBOX BG */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    text-align: center;
    margin: 5vh auto;
    padding: 0;
}
  
/* close button */

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
/* slides */
.mySlides {
    display: none;
}

.mySlides img {
    height: 83vh;
}
  
/* next + previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 2vw;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 2vw;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

  
/* caption */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.illo-image {
    width: 100%;
}

.layout-image {
    width: 100%;
}

.cd-image {
    width: 100%;
}

.photo-group {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* bottom navigation */

.portfolio-navigation {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5vh;
    margin-top: 15vh;
    margin-bottom: 3vh;
}

.portfolio-navigation a {
    color: black;
    text-decoration: none;
}

.portfolio-navigation a:hover {
    color: #313131;
}

.portfolio-navigation > h2 {
    width: 50%;
    font-size: 25px;
}

.project-link {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
}

.left a {
    text-align: left;
    padding-right: 2%;
    position: relative;
    right: 0;
    transition: .4s ease;
}

.left a:hover {
    right: 5px;
    color: #565656;
}

.right {
    text-align: right;
    padding-right: 2%;
}

.right a {
    position: relative;
    left: 0;
    transition: .4s ease;
}

.right a:hover {
    left: 5px;
    color: #565656;
}

.text-link {
    color: #76AFB8;
}


/************ NBN MAG-TO-WEB PAGE ***********/

#mag-to-web-header {
    width: 100%;
    margin-bottom: 30px;
}

.web-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: -17%;
    width: 135%;
}

.web-project-card {
    width: 48%;
    margin-bottom: 30px;
    position: relative;
}

.web-project-image {
    width: 100%;
    /* filter: drop-shadow(1px 3px 4px #C4C4C4); */
    /* border-radius: 5px; */
    position: relative;
    bottom: 0;
    transition: .4s ease;
}

.web-project-card:hover .web-project-title {
    text-decoration: underline;
    transition: .4s ease;
}

.web-projects a {
    text-decoration: none;
    color: black;
}

.web-project-title {
    font-family: 'Manrope', sans-serif;
    font-size: 23px;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    /* color: #76AFB8; */
}

.web-project-description {
    font-size: 17px;
    line-height: 1.3em;
    font-family: 'Open Sans', sans-serif;
}


/************ BAIP ***********/

#wireframe {
    float: left;
    width: 18%;
    margin-right: 40px;
    margin-top: 10px;
}

.interview-group {
    /* display: flex;
    flex-wrap: nowrap; */
    /* justify-content: space-between; */
    /* margin-bottom: 40px; */
    margin-top: 20px;
    width: 100%;
}

.interview-photo {
    width: 100%;
    margin-top: 30px;
}

#baip-vid {
    margin-top: -30px;
    margin-bottom: 30px;
}

.image-caption {
    font-size: 16px;
    font-style: italic;
    line-height: 1.2em;
    padding-top: 5px;
}

.full-width-image-caption {
    font-size: 16px;
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 40px;
    margin-top: -40px;
    padding-top: 5px;
}

.full-width-image-caption.second {
    margin-bottom: 40px;
}


/************ UNCUT ***********/

.uncut-photo-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.uncut-photo {
    width: 49%;
    margin-bottom: 15px;
    cursor: zoom-in;
}

#uncut-story {
    width: 100%;
    cursor: zoom-in;
}


/************ WAVELENGTH ***********/

#wavelength-ss {
    width: 36%;
    margin-left: 32%;
    margin-bottom: 30px;
    filter: drop-shadow(1px 2px 2px #989898);
}

.photo-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.wireframe-photo {
    width: 19%;
    filter: drop-shadow(1px 2px 2px #989898);
}

.sketch-photo {
    width: 49%;
    filter: drop-shadow(1px 2px 2px #98989850);
}


/************* ABOUT ME **************/

.about-me {
    margin: 15vh auto 10vh;
    max-width: 640px;
    padding: 0 1rem;
}

.blue-highlight {
    font-weight: 700;
    color: #76AFB8;
}

.image img {
    width: 100%;
}

.text {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 1.4;
}

.text p, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.text h2, .text p, li {
    margin-bottom: 20px;
}

.about-title {
    font-size: 30px;
    color: #76AFB8;
}


/************* MIDTERMS GUIDE **************/

.project-video {
    margin-top: -30px;
    margin-bottom: 30px;
}



/************* MOBILE STYLING **************/

@media screen and (max-width: 1200px){
    /* .navbar{
        height: 5vh;
    } */
    /* .projects {
        gap: 4%;
    }
    .projects a {
        width: 48%;
    }
    .long {
        width: 100% !important;
    } */
}

@media screen and (max-width: 900px){
    .web-projects {
        width: 100%;
    }
    .web-project-card {
        width: 100%;
    }
    .portfolio-navigation {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 2vh;
        margin-top: 5vh;
    }
    .portfolio-navigation > h2 {
        width: 50%;
        font-size: 19px;
    }
    .project-link {
        font-family: 'Manrope', sans-serif;
        font-size: 19px;
    }
    /* uncut */
    .uncut-photo {
        width: 100%;
    }
    /* modal lightbox */
    .image-group {
        column-count: 1;
    }
    .mySlides img {
        height: auto;
        width: 80vw;
    }
    .modal-content {
        margin: 25vh auto;
    }
    /* amazon sellers */
    .full-width-image {
        width: 100%;
        margin-right: 0;
    }

    .project-page-title {
        margin-top: 100px;
    }
}

@media screen and (max-width: 700px){
    .project-page-title {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.2;
    }
    .project-page-tag {
        font-size: 12px;
    }
    /* summary */
    .project-text {
        display: block;
    }
    .summary {
        margin-bottom: 50px;
        font-size: 15px;
    }
    .pullquote {
        font-size: 30px;
    }
    .nav-name {
        font-size: 19px;
    }
    .nav-links {
        font-size: 13px;
    }
    .projects a {
        width: 100%;
    }
    .long {
        width: 100% !important;
    }
    #hnp-voter {
        background-image: url(images/homepage/hnp-voter-guide.jpg);
    }
    #pasta {
        background-image: url(images/homepage/pasta.jpg);
    }
    #nbn-print {
        background-image: url(images/homepage/print-cover.jpg);
    }
    #nbn-mag-to-web {
        background-image: url(images/homepage/web-cover.jpg);
    }
    .projects-section {
        margin-bottom: 5vh;
        margin: auto;
        padding: 0 5vw;
    }
    .section-list-div {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
}